# browserstack auth
USER_NAME=petr_RTj8rB1
ACCESS_KEY=p6prg6735qQYwxB7ZjbePytt23v
# platform config
PLATFORM_NAME='android'
PLATFORM_VERSION=9.0
DEVICE_NAME='Google Pixel 3'
APP='bs://46c3ecbe7fxwb7885c6wxewed174fd31084ertvterew6a9bb63cd36'
URL='http://hub.browserstack.com/wd/hub'
# Registered user
USER_LOGIN='SPA-12345'
USER_PASSWORD='C45JHG4'